<!DOCTYPE html>
<html>
<head>
  <title>Geekresume</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="http://d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'header' %>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
