#hero
  .container
    .span12
      .row
        .span7
          = image_tag "landing_image.png"
        .span4
          = content_tag :h1, "Resume from markdown!"
          %p
            Ваше резюме под системой контроля версий, управляйте
            почтовым рассылками, доступом к резюме работодателей.
          %p
            Ваше резюме под системой контроля версий, управляйте
            почтовым рассылками, доступом к резюме работодателей.
          = link_to "Вход", new_user_session_path, class: "btn btn-primary btn-large"
          = link_to "Регистрация", new_user_registration_path, class: "btn btn-success btn-large"
#testimonials
  .container
    .phrases_wrapper
      .phrase
        .row
          .span7
            %p.testimony
              There are many variations of passages words which don't 
              look even slightly passage of anything embarrassing hidden in the middle.
          .pic
            .span3.offset1
              = image_tag "phrase_pic1.jpg", class: "img-circle"
              %span.name
                Кейдунов Артем
              %span.position
                Ruby developer
