#resumes
  .container
    %h3.header
      %span
        = link_to @resume.username, resumes_path
        \/
        = @resume.title
    %hr
    .form-horizontal
      .control-group
        %label.control-label
          Cсылка на резюме
        .controls
          .input-append
            = text_field_tag 'public_link', resume_public_url(checksum: @resume.checksum), class: "input-xxlarge"
            = link_to "Смотреть", resume_public_url(checksum: @resume.checksum), class: "btn", target: "_blank"
    - if @resume.has_content?
      .well
        = @resume.content_html.html_safe
    - else
      %h4 Добавить новое резюме
      .well
        .code
          touch resume.md
          %br
          git init
          %br
          git add resume.md
          %br
          git commit -m "first commit"
          %br
          git remote add origin
          %br
          = "git remote add origin git@geekresume.ru:#{@resume.path_with_namespace}.git"
